body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-image: url("/worldmap.svg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 5px;
  }
}
